div(ng-controller="CtrlHighlight")
    div(ng-repeat="cat in categories")
      h3 {{cat.title}}
      .row
          div(ng-repeat="img in my_images")
              div(ng-if="img.category == cat.title")
                .col-xs-12.col-sm-6.col-lg-3
                      div.thumbnail
                          img(ng-src='{{img.url}}').img-responsive
                          .caption
                              h3 {{img.author}}
                                  span.badge(ng-if="img.votes") {{img.votes}}
  
  div(ng-repeat="category in categories")
      div.row
        h3
          | {{ category.title }}
          div(ng-repeat="item in category.items")
            div.col-xs-6.col-md-3
              div.thumbnail
                img(alt="la foto" src="{{ item.url }}"
                    ng-click="popupImage()" 
                    data-toggle="modal" data-target="#photoModal")
                div.caption
                  h3
                    | Thumbnail label
                  span(ng-class="{ 'btn-success': item.voted, 'btn-default': !item.voted }" ng-click="toggleVote(item)").btn.btn-block
                    strong
                        span.glyphicon.glyphicon-thumbs-up
                        &nbsp;
                        | Like

  // modal
  #photoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" data-dismiss="modal").close
            span(aria-hidden="true")
              | &times;
            span.sr-only
              | Close
          h4(#photoModal).modal-title
            | Title
        .modal-body
          img(src="http://fotos.eluniversal.com.mx/web_img/fotogaleria/kate1.jpg")
