div(ng-controller="CtrlHighlight")
    div(ng-repeat="category in categories")
      div.row
          div.col-xs-12
              h3 {{ category._id }}
          div(ng-repeat="item in category.items")
            div.col-xs-6.col-md-3
              div.thumbnail
                img(alt="la foto" src="{{ item.url }}"
                    ng-click="popupImage()" 
                    data-toggle="modal" data-target="#photoModal")
                div.caption
                  span(ng-class="{ 'btn-success': item.voted, 'btn-default': !item.voted }" ng-click="toggleVote(item)").btn.btn-block
                    strong
                        span.glyphicon.glyphicon-thumbs-up
                        &nbsp;
                        | Like

  // modal
  #photoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" data-dismiss="modal").close
            span(aria-hidden="true")
              | &times;
            span.sr-only
              | Close
          h4(#photoModal).modal-title
            | Title
        .modal-body
          img(src="http://fotos.eluniversal.com.mx/web_img/fotogaleria/kate1.jpg")
