div(ng-controller="CtrlHighlight")
    div(ng-repeat="category in categories")
      div.row
          div.col-xs-12
              h3 {{ category._id }}
          div(ng-repeat="item in category.items")
            div.col-xs-6.col-md-3
              div.thumbnail
                img(src="{{ item.url }}"
                    ng-click="popupImage(item.url)" 
                    data-toggle="modal" data-target="#photoModal")
              
    div.modal.fade#photoModal(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
        div.modal-dialog.modal-lg
            div.modal-content(style="display: initial;")
                .modal-header
                    button(type="button" data-dismiss="modal").close
                        span(aria-hidden="true")
                            | &times;
                    .modal-body
                        div.col-xs-12
                          div.thumbnail
                            img(src="{{modal_image}}")
