div(ng-controller="CtrlHighlight")
    div(ng-if="categories")
      div(ng-repeat="category in categories")
        div.row
            div.col-xs-12
                h3 {{ category._id }}
            div(ng-repeat="item in category.items")
              div.col-xs-6.col-md-3
                div.thumbnail
                  img(ng-src="{{ item.url }}"
                      ng-click="popupImage(item.url)" 
                      data-toggle="modal" data-target="#photoModal")
                  div.caption.text-center
                    h3 {{ item.artist }}
    div(ng-if="!categories.length")
      div.row
        div.alert.alert-danger.col-xs-12
          .row
            .col-xs-12.col-md-4
              img(ng-src="images/gift.png")
            .col-xs-12.col-md-8
              h2 No hay XMAS aún, ¿quieres ser el primero?

    div.modal.fade#photoModal(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
        div.modal-dialog.modal-lg
            div.modal-content(style="display: initial;")
                .modal-header
                    button(type="button" data-dismiss="modal").close
                        span(aria-hidden="true")
                            | &times;
                    .modal-body
                        div.col-xs-12
                          div.thumbnail
                            img(ng-src="{{modal_image}}")
