.row
    .col-xs-12
        h2 Mis imágenes
.panel.panel-default
  .panel-body
    .col-xs-4
      label Nombre del autor
      input(type="text", ng-model="form.artist").form-control
    .col-xs-3
      label Selecciona una categoría
      select(ng-model="form.selectedCat", ng-options="cat for cat in categories").form-control
    .col-xs-3
      label Selecciona una foto
      br
      input(type="file", ng-model="form.xmas", name="file",ng-file-select="onFileSelect($files)")
    .col-xs-2
      button.btn.btn-primary.btn-block(ng-click="upload_picture()", style="margin-top: 25px", ng-class="form.artist.length == 0 ? 'disabled' : (form.selectedCat.length == 0 ? 'disabled' : (xmas == null ? 'disabled' : ''))") Guardar foto
div(ng-repeat="cat in categories")
    .row
        .col-xs-12
            h3 {{cat}}
        div.alert.alert-warning.alert-dismissable.col-xs-12(ng-if="!checkCategoryContent(my_images, cat)")
            p
                strong= __('Warning!')
                &nbsp; 
                span= __('No images uploaded')
        div(ng-repeat="img in my_images | filter:{category:cat}")
            .col-xs-12.col-md-3.col-lg-3
                div.thumbnail
                    img(ng-src='{{img.url}}').img-responsive
                    .caption
                        h3 {{img.author}}
                            span.badge(ng-if="img.votes") {{img.votes}}
